nav {
    text-align: center;
    background-color: gray;
    padding: 10px 10px 10px 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

figure {
    display: inline-block;
    margin-left: 150px;
    margin-top: 100px;
}

img {
    width: 100px;
}

footer {
    margin-bottom: 0px;
    position: ;
    top: ;
    bottom: ;
    left: ;
    right: ;
}

h1 {
    
}