nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid black;

    /* A propriedade padding aumenta o espaço ao redor do meu elemento */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    /* O margin da a distância entre os elementos */
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

