
/*Estilo dos botões*/
.painel button {
	/* posicionamento */
	float: right;
	margin-right: 10px;
	padding: 10px;

	/* estilo */
	background-color: #333;
	border: 0;
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.5);
	color: white;
	font-size: 1em;
	text-decoration: none;
	text-shadow: 1px 0 1px black;

	/*animação*/
	transition: 0.3s;
}

.painel button:hover {
	background-color: #393939;
	box-shadow: 1px 0 20px rgba(200, 200, 120, 0.9);
}

.painel button {
	/* posicionamento */
	position: relative;
	margin-bottom: 10px;
}

.painel button::after {
	/* elemento vazio */
	content: '';
	display: block;
	height: 0;
	width: 0;

	/* triângulo */
	border-top: 10px solid #333;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	/* posicionamento */
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;

	/* animação */
	transition: 0.3s;
}

.painel button:hover::after {
	border-top-color: #393939;
}

/*Para não mostrar o painel com mais de seis produtos*/
.painel li:nth-child(n+7) {
	display:none;
}

/*Para mostrar o painel com mais de seis produtos*/
.painel-aberto li:nth-child(n+7) {
	display: inline-block;
}

.sacola {
	background-image: url(../img/sacola.png);
	background-repeat: no-repeat;
	background-position: top right;
	font-size: 14px;
	padding-right: 35px;
	text-align: right;
	width: 140px;
	padding-top: 8px;
	position: absolute;
	top: 0;
	right: 0;
}

/* Estilo do menu de opções */
.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #003366;
}

.menu-opcoes a:hover {
	color:#007DC6;
}

.menu-opcoes a:active {
	color: #867DC6;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

/* Estilo do container */
.container {
	margin: 0 auto;
	width: 940px;
}

/* Estilo da busca e do menu de departamentos */
.busca, .menu-departamentos {
	background-color: #DCDCDC;
	font-weight: bold;
	text-transform: uppercase;

	margin-right: 10px;
	width: 230px;

	float: left;
}

.menu-departamentos li ul {
	display: none;
}

.menu-departamentos li:hover ul {
	display: block;
}

.menu-departamentos ul ul li {
	background-color: #DCDCDC;
}

.menu-departamentos li li a:before {
	content: '\272A';
	padding-right: 3px;
}

.painel h2:before {
	content: '\2756';
	padding-right: 5px;
	opacity: 0.4;
	
}

.busca h2, .busca form, .menu-departamentos h2 {
	margin: 10px;
}

.busca input[type=search] {
	width: 170px;
}

.busca {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.busca button {
	/* adicionando imagem */
	background-image: url(../img/busca.png);
	background-repeat: no-repeat;
	border: none;

	/* tamanho da imagem */
	width: 20px;
	height: 20px;

	/* imagem replacement */
	text-indent: -9999px;
}
.menu-departamentos {
	clear: left;
}

.menu-departamentos li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: #333333;
	text-decoration: none;
}

.destaque {
	margin-top: 10px;
	position: relative;
}

.pause,
.play {
	display: block;
	position: absolute;
	right: 15px;
	top: 15px;
}

.pause {
	border-left: 10px solid #900;
	border-right: 10px solid #900;
	height: 30px;
	width: 5px;
}

.play {
	border-left: 25px solid #900;
	border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;
}

.menu-departamentos {
	margin-top: 10px;
	padding-bottom: 10px;
}

/* Estilo dos paineis */
.painel {
	margin:10px 0;
	padding: 10px;
	width: 445px;
}

.painel li {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	transition: 0.7s ease-out;
	margin:2px;
	padding-bottom: 10px;
}

.painel li:hover {
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 5px #333;
	transition: all 0.7s ease-in;
	transform: scale(1.2) rotate(-5deg);
}

.painel li:nth-child(2n):hover {
	transform: scale(1.2) rotate(5deg);
}

.painel h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'Bad Script', sans-serif;
}

.painel a {
	color:#333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.painel {
	border-radius: 4px;
	box-shadow: inset 1px 1px 4px #999;
}

.painel h2 {
	text-shadow: 3px 3px 2px #FFF rgba(255,255,255,0.8);
}

.novidades {
	background-color: #F5DCDC;
	background:	linear-gradient(#F5DCDC,	#BEBEF4);
	float: left;
}

.mais-vendidos {
	background-color: #DCDCF5;
	background:	linear-gradient(#DCDCF5,	#F4BEBE);
	float: right;
}

.form-control:invalid {
	border: 1px solid #CC0000;
}

/* Estilos do rodapé */
footer {
	padding: 20px 0;
	clear: both;
	background-image: url(../img/fundo-rodape.png);
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}

.social li {
	float: left;
	margin-left: 25px;
}

.social a {
	/* tamanho da imagem */
	height: 32px;
	width: 32px;
	/* image replacement */
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/googleplus.png);
}

/* Estilos do corpo */
body {
	color:#333333;
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font-family: 'PT Sans', sans-serif;
}

header {
	position: relative;
}

/* Dispositivos móveis */
@media (max-width: 320px) {
	.container {
		width: 96%;
	}

	header h1 {
		text-align: center;
	}

	header h1 img {
		max-width: 50%
	}

	.sacola {
		display: none;
	}

	.menu-opcoes {
		position: static;
		text-align: center;
	}

	.menu-opcoes ul li {
		display: inline-block;
		margin: 5px;
	}

	.busca,
	.menu-departamentos,
	.banner-destaque img {
		margin-right: 0;
		width: 100%;
	}

	.painel {
		width: auto;
	}

	.painel li {
		width: 30%;
	}

	.painel img {
		width: 100%;
	}
}
