/* .container {
    position: relative;
    top:30% ;
    left:33% ;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.fixed {
    position: fixed;
    top: 200px;
    right: 30px;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.pai {
    position: relative;
    top: 600px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.absoluta {
    position: absolute;
    background-color: blue;
    width: 50px;
    height: 50px;
    top: 45%;
    left: 45%;
}
 */

 .posicao {
    position: sticky;
    padding: 20px;
    top: 0;
    background-color: green;
    border: 1px solid rgb(33, 56, 33);
 }
