* {
    margin: 0;
    padding: 0;
}

.esquerda-superior > p {
    border: 1px solid black;
    background-color: red;
    width: 100px;
    height: 100px;
}

.esquerda-inferior > p {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    background-color: green;
    width: 100px;
    height: 100px;
}

.direita-superior > p {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.direita-inferior > p {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: blue;
}