@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.esqcima > p {
    border: 1px solid black;
    background-color: red;
    width: 100px;
    height: 100px;
}

.esqbaixo > p {
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    background-color: green;
    width: 100px;
    height: 100px;
}

.dircima > p {
    border: 1px solid black;
    background-color: yellow; 
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
}

.dirbaixo > p {
    border: 1px solid black;
    background-color: blue; 
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
}